---
import { Image } from "astro:assets";

interface Props {
	name: string;
	desc: string;
	img: ImageMetadata;
}

const { name, desc, img } = Astro.props;
---

<div
	class="scale-on-scroll flex flex-col cursor-pointer z-10 border-white/10 border-[1px] rounded-xl p-4 max-w-sm backdrop-blur-xl"
>
	<Image
		class="rounded-full mx-auto border-2 border-lumna-950"
		width={80}
		height={80}
		src={img}
		alt={name}
	/>
	<div class="text-center mt-4">
		<h2 class="text-lumna-600 font-bold text-xl">{name}</h2>
		<p class="text-white/50 text-lg">{desc}</p>
	</div>
</div>
