---
import SectionTitle from "./SectionTitle.astro";
import Social from "./Social.astro";
---

<section class="px-10 mb-36 max-w-screen-md mx-auto">
	<SectionTitle>
		Mis Redes Sociales <span slot="icon" class="text-4xl">📱</span>
	</SectionTitle>
	<Social />
</section>
