---
import SectionTitle from "./SectionTitle.astro";
import Social from "./Social.astro";
---

<section class="px-10 max-w-screen-md mx-auto mb-36">
	<SectionTitle>
		Mis Redes Sociales
	</SectionTitle>
	<Social />
</section>
