<button
	class="flex items-center justify-center gap-4 mx-auto md:mx-0
    border-2 border-lumna-300 text-lumna-300 rounded-full
    p-2 px-4"
>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		stroke-width="2"
		stroke="currentColor"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
		><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
			d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
			d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
		></path></svg
	>
	<span class="play font-bold">Whatsapp</span>
</button>

<style>
	button {
		position: relative;
		overflow: hidden;
		transition: all 0.5s ease;
		box-shadow: 0px 0px 43.3px -7px rgba(216, 201, 150, 0.7);
	}

	button:active {
		transform: scale(0.9);
		transition: all 100ms ease;
	}

	button svg {
		transition: all 0.5s ease;
		z-index: 2;
	}

	.play {
		transition: all 0.5s ease;
		transition-delay: 300ms;
	}

	button:hover svg {
		transform: scale(4) translate(50%);
	}

	button:hover .play {
		transform: translateX(200%);
		transition-delay: 300ms;
	}
</style>
