---
import { Icon } from "astro-icon";
---

<footer class="mb-10 px-4 text-center text-gray-500">
	<small class="mb-2 block text-xs">
		&copy; 2030 (
		<a href="#">
			<Icon name="ic:round-keyboard" width={15} class="inline" />
			<span
				class="hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r
			hover:from-red-400 hover:to-yellow-800"
			>
				strangedevel</span
			>
		</a>
		 +
		<a href="#">
			<Icon name="ph:figma-logo-light" width={15} class="inline" />
			<span
				class="hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r
			hover:from-red-400 hover:to-yellow-800"
			>
				lin</span
			>
		</a>)
	</small>
	<p class="text-xs">
		Built with
		<Icon name="simple-icons:astro" width={15} class="inline" />
		 Astro,

		<Icon name="simple-icons:typescript" width={15} class="inline" />
		 Typescript,

		<Icon name="simple-icons:tailwindcss" width={15} class="inline" />
		 Tailwind hosted on

		<Icon name="simple-icons:vercel" width={15} class="inline" />
		 Vercel
	</p>
</footer>
