---
import { LOGO_IMG } from "../constants";
import ContactButton from "./ContactButton.astro";
import { Image } from "astro:assets";
import MapButton from "./MapButton.astro";
---

<header class="max-w-screen-xl mx-auto mb-36">
	<div
		class="flex flex-col h-screen md:h-full md:flex-row justify-around items-center
		mx-auto md:pt-20 p-2 md:px-10"
		data-aos="fade-up"
	>
		<div
			class="flex flex-col order-2 md:order-1 text-center md:text-start px-2"
		>
			<h1
				id="studio-name"
				class="z-10 mb-4 text-5xl lg:text-7xl font-bold text-lumna-300"
			>
				Cörvus Studio
			</h1>
			<p class="text-white/50 text-lg md:text-xl mb-4">
				Hazte el tatuaje que mereces, no esperes mas!
			</p>
			<div class="flex flex-col gap-2 md:justify-start">
				<ContactButton>Whatsapp</ContactButton>
				<MapButton>Donde Estamos</MapButton>
			</div>
		</div>

		<Image
			class="w-[28rem] md:max-w-sm lg:max-w-lg z-10 order-1 md:order-2"
			src={LOGO_IMG}
			alt="Logo de Corvus Studio"
			format="avif"
		/>
	</div>
</header>

<style>
	@font-face {
		font-family: "Unifraktur Maguntia";
		src: url("/fonts/UnifrakturMaguntia-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	#studio-name {
		font-family: "Unifraktur Maguntia", sans-serif;
	}
</style>
