---
import { LOGO } from "../constants";
import ContactButton from "./ContactButton.astro";
---

<header class="max-w-screen-xl mx-auto mb-36">
	<div
		class="flex flex-col gap-4 justify-around items-center md:flex-row mx-auto md:pt-20 px-2 md:px-10"
	>
		<div class="flex flex-col order-2 md:order-1 text-center md:text-start">
			<h1
				id="studio-name"
				class="z-10 mb-4 text-5xl lg:text-7xl font-bold
				text-lumna-300"
			>
				Cörvus Studio
			</h1>
			<p class="text-white/50 text-lg md:text-xl mb-10">
				Hazte el tatuaje que mereces, no esperes mas!
			</p>
			<div>
				<ContactButton />
			</div>
		</div>
		<img
			decoding="async"
			class="w-[30rem] md:max-w-sm lg:max-w-lg z-10 order-1 md:order-2 mt-10"
			src={LOGO}
			alt="Logo de Corvus Studio"
		/>
	</div>
</header>

<style>
	@font-face {
		font-family: "Unifraktur Maguntia";
		src: url("/fonts/UnifrakturMaguntia-Regular.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	#studio-name {
		font-family: "Unifraktur Maguntia", sans-serif;
	}

	main {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
