---
import SectionTitle from "./SectionTitle.astro";
---

<section class="flex flex-col md:flex-row mb-36 max-w-screen-xl mx-auto">
	<div class="flex-1 relative">
		<img
			id="imagen"
			class="w-full mix-blend-exclusion brightness-50"
			decoding="async"
			src="person.png"
			alt="Imagen de Lumna"
		/>
		<img
			alt="separator"
			decoding="async"
			src="separator.svg"
			class="absolute rotate-90 -translate-x-64 translate-y-[37%] md:translate-x-2 md:translate-y-0 md:rotate-0 bottom-0 right-0 h-full"
		/>
	</div>
	<div class="flex-1 flex flex-col mt-10 px-4 sm:px-10 text-center">
		<SectionTitle>
			Hola soy Lumna <span slot="icon" class="text-4xl">👋</span>
		</SectionTitle>

		<p class="text-white/50 text-xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia
			repudiandae vero, saepe nulla perspiciatis architecto, esse officiis
			laboriosam veritatis expedita repellendus veniam aperiam, fugit
			autem nisi labore culpa quis!
		</p>
	</div>
</section>

<style>
	#imagen {
		position: relative;
		display: inline-block;
	}

	#imagen::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	}
</style>
