---
import { LUMNA_IMG, SEPARATOR_IMG, DESCRIPTION } from "../constants";
import SectionTitle from "./SectionTitle.astro";
import { Image } from "astro:assets";
---

<section
	class="flex flex-col md:flex-row max-w-screen-xl mx-auto mb-10 md:mb-36"
>
	<div class="flex-1 relative">
		<div
			class="absolute z-10 top-0 left-0 right-0 h-36
			bg-gradient-to-b from-black to-transparent"
		>
		</div>
		<div
			class="absolute z-10 bottom-0 left-0 right-0 h-36
			bg-gradient-to-t from-black to-transparent"
		>
		</div>
		<Image
			alt="Lumna"
			class="w-full mix-blend-exclusion brightness-50"
			src={LUMNA_IMG}
		/>
		<Image
			alt="separator"
			src={SEPARATOR_IMG}
			class="absolute rotate-90 -translate-x-64 translate-y-[37%] md:translate-x-[37%] md:translate-y-0 md:rotate-0 bottom-0 right-0 h-full"
		/>
	</div>
	<div class="flex-1 flex flex-col mt-10 px-4 sm:px-10 text-center">
		<SectionTitle>
			Hola soy Lumna
			<span
				data-aos="fade-in-scale"
				data-aos-duration={1000}
				data-aos-delay="100"
				slot="icon"
				class="text-4xl">👋</span
			>
		</SectionTitle>

		<p data-aos="scale-in" data-aos-duration="1000" class="text-white/50 text-xl">
			{DESCRIPTION}
		</p>
	</div>
</section>
