---
import { PHONE_NUMBER } from "../constants";
import { Icon } from "astro-icon";
---

<a
	class="relative overflow-hidden
		flex items-center justify-center gap-4
		border-2 border-white/20 text-white/80 rounded-full
		py-2 px-4 mx-auto md:ml-0 md:mr-auto
		transition-all ease-linear duration-500
		active:scale-90 active:transition-all active:duration-100"
	href={`https://api.whatsapp.com/send?phone=${PHONE_NUMBER}`}
	target="_blank"
>
	<Icon
		slot="icon"
		name="simple-icons:googlemaps"
		width={24}
		class={`transition-all duration-500 ease-linear`}
	/>
	<span
		class="font-bold
			transition-all duration-500 ease-linear
			group-hover:translate-x-[200%] group-hover:delay-300"
	>
		<slot />
	</span>
</a>

<style>
	a:hover #icon {
		transform: scale(4) translate(50%);
	}
</style>
