<span class="flex justify-center items-center gap-4">
	<slot name="icon" />
	<h1
		class="text-center text-2xl sm:text-3xl md:text-4xl font-bold
    bg-clip-text text-transparent bg-gradient-to-r from-lumna-400 to-lumna-950 py-10"
	>
		<slot />
	</h1>
</span>
