---
import Gallery from "./Gallery.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section class="px-10 mb-36 max-w-screen-lg mx-auto">
	<SectionTitle>Trabajos Anteriores</SectionTitle>
	<Gallery />
</section>
