---
import { Image } from "astro:assets";
import { FIRE_BIG_IMG, FIRE_IMG } from "../constants";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Corvus Tattoo Studio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#faf8f0" />
		<title>{title}</title>
	</head>
	<body class="grid-background relative">
		<Image
			src={FIRE_IMG}
			format="avif"
			class="hidden md:block absolute top-0 right-0 w-full md:w-[80%]"
			alt="fire"
		/>
		<Image
			src={FIRE_BIG_IMG}
			format="avif"
			class="md:hidden absolute top-0 right-0 w-full"
			alt="fire"
		/>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		overflow-x: hidden;
	}

	.grid-background {
		width: 100%;
		height: 100%;
		--color: rgba(114, 114, 114, 0.07);
		background-color: #000000;
		background-image: linear-gradient(
				0deg,
				transparent 24%,
				var(--color) 25%,
				var(--color) 26%,
				transparent 27%,
				transparent 74%,
				var(--color) 75%,
				var(--color) 76%,
				transparent 77%,
				transparent
			),
			linear-gradient(
				90deg,
				transparent 24%,
				var(--color) 25%,
				var(--color) 26%,
				transparent 27%,
				transparent 74%,
				var(--color) 75%,
				var(--color) 76%,
				transparent 77%,
				transparent
			);
		background-size: 55px 55px;
	}

	.scale-in {
		animation: scale-in linear both;
		animation-timeline: scroll(root block);
		animation-range: 0 100px;
	}

	@keyframes scale-in {
		from {
			opacity: 0;
			transform: scale(0.5);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
</style>
